.flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

body {
    text-align: center;
}

nav {
    background-color: aquamarine;
    padding: 20px 0;
    border-radius: 10px;
}

.izquierda {
    background-color: blue;
    height: 85vh;
    width: 33.333%;
    border-radius: 10px;
    padding: 20px 0;
    margin: 10px 0;
}

.derecha {
    width: 66.666%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    height: 85vh;
}

.derecha section {
    background-color: orange;
    width: calc(33.333% - 20px);
    border-radius: 10px;
    padding: 20px 0;
}

.derecha section:last-child {
    width: 100%;
    background-color: yellow;
    border-radius: 10px;
    padding: 10px 0;
}

.derecha section:first-child {
    width: 100%;
    background-color: green;
    border-radius: 10px;
    padding: 20px 0;
}

section {
    margin: 10px;
}